body {
  font-family: monospace; }

.navbar {
  font-size: 2em;
  margin: 2em; }
  .navbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 0.8em;
    border-right: 2px solid grey; }
    .navbar ul li:last-child {
      border-right: none; }
    .navbar ul li a {
      text-decoration: none;
      color: grey; }
      .navbar ul li a:hover {
        color: black; }
  @media screen and (max-width: 1000px) {
    .navbar {
      font-size: 4em;
      margin: 1.5em; } }

.timetable {
  padding-left: 20%; }
  .timetable iframe {
    height: 600px;
    width: 75%; }
  @media screen and (max-width: 1000px) {
    .timetable {
      padding-left: 13%; }
      .timetable iframe {
        width: 60%; } }
