body
  font-family: monospace

.navbar
  font-size: 2em
  margin: 2em
  ul
    li
      display: inline
      list-style-type: none
      padding-right: 0.8em
      border-right: 2px solid grey

      &:last-child
        border-right: none

      a
        text-decoration: none
        color: grey

        &:hover
          color: black

  @media screen and (max-width: 1000px)
    font-size: 4em
    margin: 1.5em

.timetable
  padding-left: 20%

  iframe
    height: 600px
    width: 75%

  @media screen and (max-width: 1000px)
    padding-left: 13%

    iframe
      width: 60%
