doctype html
html(lang=en)
    head
      link(href="/css/style.css" rel="stylesheet")
      title Timetable
    body
      include navbar.jade
      iframe(src="https://intranet.spengergasse.at/infostundenplan/05/c/c00055.htm")
